
<div class="content">
  <h1>RICKOMEDIA</h1>
    <ul>
      <% @articles.each do |article| %>
       <li> <%= link_to "#{article.title}", article_path(article.id)%></li>
      <% end %>
    </ul>
</div>


    <div class="btn">
        <%= link_to "Create new article", new_article_path %>
      </div>



